body {
  font-family: sans-serif;
  font-size: 16px;
}

:root {
  --base-01: #ffffff;
  --base-02: #f6f6f6;
  --base-03: #ededed;
  --base-04: #e0e0e0;
  --base-05: #b0b0b0;
  --base-06: #959595;
  --base-07: #808080;
  --base-08: #333333;
  --base-09: #000000;
  --primary: #275efe;
  --primary-hover: #6c86e2;
  --primary-active: #275efe;
  --secondary: #f4f4f4;
  --secondary-hover: #ececec;
  --secondary-active: #e0e0e0;
}

.container {
  display: flex;
  max-width: 900px;
}
