body {
    font-family: sans-serif;
    font-size: 16px;
}

:root {
    --base-01: #FFFFFF;
    --base-02: #F6F6F6;
    --base-03: #EDEDED;
    --base-04: #E0E0E0;
    --base-05: #B0B0B0;
    --base-06: #959595;
    --base-07: #808080;
    --base-08: #333333;
    --base-09: #000000;
    --primary: #275EFE;
    --primary-hover: #6C86E2;
    --primary-active: #275EFE;
    --secondary: #F4F4F4;
    --secondary-hover: #ECECEC;
    --secondary-active: #E0E0E0;
}

.container{
    display: flex;
    max-width: 900px;
}